@import "vars";
#bottom-footer {
  background-color: $footer-bgc;
  height: 100px;
}

.btn-signup {
  color: white;
  border: 2px solid $dc-blue;
  padding: 10px 15px;
  height: 40px;
  font-size: 30px;

  &:hover {
    cursor: pointer;
  }
}

ul li {
  display: inline-block;

  a {
    padding: 30px 10px;
    text-decoration: none;
    color: grey;
  }

  //broken
  &:first-child {
    color: $dc-blue;
  }
}
